'.platform-darwin atom-text-editor[data-grammar="text todotxt"]:not([mini])':
  "cmd-alt-n": "todotxt:add-todo"
  "cmd-alt-x": "todotxt:finish-todo"

'.platform-linux atom-text-editor, .platform-win32 atom-text-editor[data-grammar="text todotxt"]:not([mini])':
  "ctrl-alt-n": "todotxt:add-todo"
  "ctrl-alt-x": "todotxt:finish-todo"
